#!/usr/bin/env bash

export EDITOR="vim";

export HISTFILE="$HOME/.zsh_history"
export HISTSIZE=10000000
export SAVEHIST=10000000
export HISTCONTROL="ignoreboth";

export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

export MANPAGER="less -X";

export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=32";
